<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    @*<script src="http://cdn.peerjs.com/0.3/peer.js"></script>*@
    <script src="~/Scripts/peer.js"></script>
    
</head>
<body>
    <nav class="navbar-fluid navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"> Chat360! </a>
            <p class="navbar-text"> Real time video chat with 360 degree view!</p>
            @if (string.IsNullOrEmpty((string)Session["User"])) { 
             <p class="navbar-right navbar-text" ><a href="@Url.Action("SignIn","Account")">Login</a> or <a href="@Url.Action("SignUp","Account")">Register</a></p>
                }
            else{
                <p class="navbar-right navbar-text" ><a href="@Url.Action("Logout","Account")">Logout</a></p>
                <p class="navbar-right navbar-text" >Signed in as @Session["User"]</p>
            }


        </div>
    </nav>
    @RenderBody()
    

   
</body>
</html>
