@model Chat360Client.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<style type="text/css">
        body{background-color: #797979 !important; height: auto !important; }
        .well{background-color: #ccc !important;}
        .form-horizontal.control-label{ font-weight : bold !important;}
    </style>
<div class="container" style="padding-top: 60px; background-color:white; padding-bottom:20px;">
 <h1 class="page-header">Change Password</h1>

  <div class="row">
    <!-- left column -->
    
      @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form", @class = "form-horizontal",enctype="multipart/form-data"}))
      { 
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="text-center">
                <img src="@Model.imageUrl" style="height: 200px; width: 200px;" class="avatar img-circle img-thumbnail" alt="avatar">
              </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
              <div class="alert alert-info alert-dismissable" id="infoArea">
                <a class="panel-close close" data-dismiss="alert">×</a> 
                <i class="fa fa-coffee"></i>
                  @if(Model.status == 1){
                    <span>Password was successfully changed.</span>
                  }
                  else if(Model.status == 2){
                    <span>There was an error changing Password</span>
                  }
                  else if(Model.status == 3){
                    <span>@ViewBag.error</span>
                  }
                  else
                  {
                    <span>Enter new Password to change password</span>                                           
                  }
              </div>
              <h3>Personal info</h3>
            <div class="form-group">
              <label class="col-lg-3 control-label">Password:</label>
              <div class="col-lg-8">
                @Html.PasswordFor(x => x.oldPassword, new { type = "password", @class = "form-control", placeholder = "Password"})
                @Html.ValidationMessageFor(x => x.oldPassword, null, new { style="color: red"})

              </div>
            </div>
          <div class="form-group">
              <label class="col-lg-3 control-label">Password:</label>
              <div class="col-lg-8">
                @Html.PasswordFor(x => x.newPassword, new { type = "password", @class = "form-control", placeholder = "New Password"})
                @Html.ValidationMessageFor(x => x.newPassword, null, new { style="color: red"})

              </div>
            </div>
          <div class="form-group">
              <label class="col-lg-3 control-label">Confirm Password:</label>
              <div class="col-lg-8">
               @Html.PasswordFor(x => x.confirmPassword, new { type = "password", @class = "form-control", placeholder = "Confirm Password" })
               @Html.ValidationMessageFor(x => x.confirmPassword, null, new { style="color: red"})
              </div>
            </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="submit">
            <span></span>
          </div>
        </div>
                    </div>

      }
  </div>
    </div>
